<div id="<%= dom_id engineer %>">
  <p>
    <strong>Name:</strong>
    <%= engineer.name %>
  </p>

  <p>
    <strong>Branch:</strong>
    <%= engineer.branch %>
  </p>

  <p>
    <strong>Joined100x:</strong>
    <%= engineer.joined100x %>
  </p>

</div>
